# Ignore files that should NOT be in the Docker image
.git
.github
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.DS_Store

# Virtual environments
.venv
env
ENV
venv

# Local env files
.env
.env.*
!.env.example

# Temp folders
tmp
dist
coverage

# Docker / compose / dev configs
docker-compose.yml
README.md
